  <ol class="breadcrumb" style="background-color: #fff; font-weight: bold !important; col; border-radius:0;    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
    <li class="breadcrumb-item"><a href="#">Quản Lý Phim</a></li>
    <li class="breadcrumb-item active" aria-current="page">Loại Phim</li>
  </ol> 
<div class="container" style="min-height: 100vh;background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
  <div class="col-sm-12">
    <div class="row">
        <div class="input-group" style="display: flex; justify-content: space-between; margin: 20px;">
        <h6 style="padding: 0 20px; font-weight: bold;">Danh sách loại phim</h6>          
        <a type="button" href="#"  data-bs-toggle="modal" data-id="#" data-bs-target="#addthe-loai" class="btn btn-primary" style="margin-right: 40px; border-radius: 5px;">Thêm loại phim mới</a>
        </div>          
        <hr>
      <div class="col-12">
      
        {{!-- Add --}}

        <table id="data-table"  class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th class="p-2 text-center align-middle" scope="col">#</th>
              <th class="p-2 text-center align-middle" scope="col" >Tên Loại</th>
              <th class="p-2 text-center align-middle" scope="col">Hành động</th>
            </tr>
          </thead>
          <tbody>
           {{#each listTheLoai}}
            <tr>
              <th class="p-2 text-center align-middle"style="width: 100px;" scope="row">{{sum 1 @index }}</th>
              <td class="p-2 text-center align-middle"style="width: 100px;"  >{{this.tenTheLoai}}</td>             
              <td class="p-2 text-center align-middle mx-auto"style="width: 100px; " >
                <a href="" type="button" style="margin-bottom: 10px; width: 90px;" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#update-loai-phim-{{this.idTheLoai}}" data-id-the-loai="{{this.idTheLoai}}">Cập nhật</a>
                <button type="button" class="btn btn-danger " data-bs-toggle="modal" data-bs-target="#delete-the-loai" style="margin-bottom: 10px; width: 90px;" data-id-the-loai="{{this.idTheLoai}}" >Xóa</button>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div>
    {{> notifications}}    
</div>

<!-- Thêm Loại Phim Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="addthe-loai">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm Loại Phim</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form action="/quanlyphim/loaiphim/them" method="POST" class="container-form-add mx-auto" style="max-width: 900px;">
          <div>
            <div class="mb-3 col-auto">
              <label class="form-label" for="name">Tên loại phim</label>
              <input  type="text" class="form-control" name="tenTheLoai" id="tenTheLoai" aria-describedby="helpId" />
            </div>
          </div>
           <div class="modal-footer">
          <button type="submit" id="btn-add-loai-phim" class="btn btn-danger">Thêm</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Trong vòng lặp, cho mỗi thể loại phim tạo một modal riêng biệt -->
{{#each listTheLoai}}
  <div class="modal fade" tabindex="-1" role="dialog" id="update-loai-phim-{{this.idTheLoai}}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cập nhật Thể loại phim</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <form action="/quanlyphim/loaiphim/capnhat/luu/{{this.idTheLoai}}" method="POST">
          <div class="mb-3">
            <label class="form-label" for="tenTheLoai">Tên thể loại phim</label>
            <input type="text" class="form-control" name="tenTheLoai" id="tenTheLoai" value="{{this.tenTheLoai}}" />
          </div>
          <input type="hidden" name="idTheLoai" value="{{this.idTheLoai}}" />
       

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" >Lưu</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        </div>
         </form>
      </div>
    </div>
  </div>
{{/each}}


<form name="del-theloai-form" method="POST"></form>

<!-- Modal xóa -->
 <div class="modal fade" id="delete-the-loai" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa thể loại này?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-del-theloai" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div> 

<script src="../../public/js/deleteLoaiPhimScript.js"></script>
