  <ol class="breadcrumb" style="background-color: #fff; font-weight: bold !important; col; border-radius:0;    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
    <li class="breadcrumb-item"><a href="#">Quản Lý Phim</a></li>
    <li class="breadcrumb-item active" aria-current="page">Phim Mới</li>
  </ol> 
<div class="row" style="min-height: 500px; margin: 10px; margin-right: 0 !important;">
  <div class="col-sm-12" style="background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
     border-radius: 4px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);;">
    <div class="row">
        <h6 style="padding: 10px 20px; font-weight: bold;">Danh sách phim mới</h6>
        <hr>
      <div class="col-12">
        {{!-- Search --}}
        <div class="input-group" style="display: flex; justify-content: end; margin: 20px;">
        {{!-- <div class="form-outline" style="display: flex;">
            <input type="search" id="form1" class="form-control" style="min-width: 400px;" placeholder="Tên phim.." />
            <a type="button" class="btn btn-primary" style="margin-left: 5px;">
                <i class="fas fa-search"></i> Tìm
            </a>            
        </div> --}}
        <a type="button" href="/quanlyphim/phim/them" class="btn btn-primary" style="margin-right: 40px; border-radius: 5px; font-weight: bold;">Thêm phim mới</a>
        </div>        
        {{!-- Add --}}
        <div style=" overflow-y: scroll;height: 700px;">

        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th class="align-middle" scope="col">#</th>
              <th class="align-middle" scope="col">Tên phim</th>
              <th class="align-middle" scope="col">Poster</th>
              <th class="align-middle" scope="col">Thể Loại</th> 
              <th class="align-middle" scope="col">Thời Lượng</th>
              <th class="align-middle" scope="col">Nước Sản Xuất</th>
              <th class="align-middle" scope="col">Năm Sản Xuất</th>
              <th class="align-middle" scope="col">Mô Tả</th>
              <th class="align-middle" scope="col">Hành động</th>
            </tr>
          </thead>
          <tbody>
            {{#each listPhim}}
            <tr>
              <th class="align-middle" scope="row">{{sum 1 @index }}</th>
              <td class="align-middle" style="width: 100px;">{{this.tenPhim}}</td>
              <td class=" align-middle"><img src="{{urlAnh}}" style="width: 100px; background-color: antiquewhite;" class="img-thumbnail" alt=""></td>
              <td class="align-middle" style="width: 100px;">{{this.tenTheLoai}}</td>
              <td class="align-middle">{{this.thoiLuong}}</td>
              <td class="align-middle">{{this.nuocSX}}</td>
              <td class="align-middle">{{this.namSX}}</td>
              <td class="align-middle">{{this.moTa}}</td>    
              <td class="align-middle">
                <a href="/quanlyphim/phim/capnhat/{{this.idPhim}}" type="button" style="margin-bottom: 10px; width: 90px;" class="btn btn-success">Cập nhật</a>
                {{!-- <a type="button" data-bs-toggle="modal" data-bs-target="#delete-phim-modal" style="margin-bottom: 10px; width: 90px;" class="btn btn-danger">Xoá</a> --}}
                <a href="" class="btn btn-danger " data-toggle="modal" data-target="#delete-phim" style="margin-bottom: 10px; width: 90px;" data-id-phim="{{this.idPhim}}" data-id="{{this.idPhim}}">Xóa</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

<form name="del-phim-form" method="POST"></form>

<!-- Modal xóa -->
 <div class="modal fade" id="delete-phim" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa phim này?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-del-phim" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div> 

<script>
   document.addEventListener("DOMContentLoaded",function(){
      var idPhim;
      var btnDelLC=document.getElementById("btn-del-phim");        
      var deleteForm= document.forms["del-phim-form"];

      $('#delete-phim').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) 
          idPhim = button.data('id-phim') 
      })
      btnDelLC.onclick=function(){
          deleteForm.action="/quanlyphim/phim/xoa/"+idPhim+"?_method=PUT"
          deleteForm.submit();
      }
  })
</script>
