  <ol class="breadcrumb" style="background-color: #fff; font-weight: bold !important; col; border-radius:0;    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
    <li class="breadcrumb-item"><a href="#">Quản Lý Phim</a></li>
    <li class="breadcrumb-item active" aria-current="page">Phim Mới</li>
  </ol> 
<div class="container" style="min-height: 500px; margin-right: 0 !important;background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05)">
  <div class="col-sm-12">
    <div class="row">
        <div class="input-group d-flex justify-content-between" style="display: flex; justify-content: end; margin: 20px;">
        <h6 style="padding: 0 20px; font-weight: bold;">Danh sách phim mới</h6>

        <a type="button" href="/quanlyphim/phim/them" class="btn btn-primary" style="margin-right: 40px; border-radius: 5px; font-weight: bold;">Thêm phim mới</a>
        </div>        
        <hr>
      <div class="col-12">
        
        <div style=" overflow-y: scroll;height: 700px;">

        <table id="data-table" class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th class="align-middle p-2 text-center" scope="col">#</th>
              <th class="align-middle p-2 text-center" scope="col">Tên phim</th>
              <th class="align-middle p-2 text-center" scope="col">Poster</th>
              <th class="align-middle p-2 text-center" scope="col">Thể Loại</th> 
              <th class="align-middle p-2 text-center" scope="col">Thời Lượng</th>
              <th class="align-middle p-2 text-center" scope="col">Nước SX</th>
              <th class="align-middle p-2 text-center" scope="col">Năm SX</th>
              <th class="align-middle p-2 text-center" scope="col">Hành động</th>
            </tr>
          </thead>
          <tbody>
            {{#each listPhim}}
            <tr>
              <th class="align-middle p-2 text-center" scope="row">{{sum 1 @index }}</th>
              <td class="align-middle p-2 text-center" style="width: 200px;">{{this.tenPhim}}</td>
              <td class=" align-middle p-2 text-center" style="width: 100px; height: 140px; overflow: hidden;"><img src="data:image/png;base64,{{this.anh}}"  style="width: 100%; height: 100%; object-fit: cover;" class="img-thumbnail" alt=""></td>
              <td class="align-middle p-2 text-center" >{{this.tenTheLoai}}</td>
              <td class="align-middle p-2 text-center">{{this.thoiLuong}}</td>
              <td class="align-middle p-2 text-center">{{this.nuocSX}}</td>
              <td class="align-middle p-2 text-center">{{this.namSX}}</td>
              <td class="align-middle p-2 text-center" style="width: 200px;">
                <a href="/quanlyphim/phim/capnhat/{{this.idPhim}}" type="button" style="margin-bottom: 10px; width: 90px;" class="btn btn-success">Cập nhật</a>
                <a href="" class="btn btn-danger " data-toggle="modal" data-target="#delete-phim" style="margin-bottom: 10px; width: 90px;" data-id-phim="{{this.idPhim}}" data-id="{{this.idPhim}}">Xóa</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  {{#if notificationSuccess}}
    <div class="alert auto-close alert-success alert-dismissible show fade mb-3" role="alert" style="position: fixed; top: 0; right: 0; width: 300px; z-index: 100;">
      <strong style="text-align: center;">{{notificationSuccess}}</strong>
    </div>
  {{/if}}
  {{#if notificationErr}}
    <div class="alert auto-close alert-warning alert-dismissible show fade mb-3" role="alert" style="position: fixed; top: 0; right: 0; width: 300px; z-index: 100;">
      <strong>{{notificationErr}}</strong>
    </div>
  {{/if}}
</div>

<form name="del-phim-form" method="POST"></form>

<!-- Modal xóa -->
 <div class="modal fade" id="delete-phim" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa phim này?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-del-phim" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div> 


<script>
   document.addEventListener("DOMContentLoaded",function(){
      var idPhim;
      var btnDelLC=document.getElementById("btn-del-phim");        
      var deleteForm= document.forms["del-phim-form"];

      $('#delete-phim').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) 
          idPhim = button.data('id-phim') 
      })
      btnDelLC.onclick=function(){
          deleteForm.action="/quanlyphim/phim/xoa/"+idPhim+"?_method=PUT"
          deleteForm.submit();
      }
  }) 
</script>

