  <ol class="breadcrumb" style="background-color: #fff; font-weight: bold !important; col; border-radius:0;    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
    <li class="breadcrumb-item"><a href="#">Quản Lý Phim</a></li>
    <li class="breadcrumb-item active" aria-current="page">Phim Đã Chiếu</li>
  </ol> 
<div class="container" style="min-height: 500px; margin: 10px;background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
  <div class="col-sm-12">
    <div class="row">
        <h6 style="padding: 10px 20px; font-weight: bold;">Danh sách phim đã chiếu</h6>
        <hr>
      <div class="col-12">
        {{!-- Search --}}
        <div class="input-group" style="display: flex; justify-content: end; margin: 20px;">

        </div>        
        {{!-- Add --}}

        <div style="height: 700px; overflow-y: scroll;">
        <table id="data-table" class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th class="text-center align-middle" scope="col">#</th>
              <th class="text-center align-middle" scope="col">Tên phim</th>
              <th class="text-center align-middle" scope="col">Poster</th>
              <th class="text-center align-middle" scope="col">Thể Loại</th> 
              <th class="text-center align-middle" scope="col">Thời Lượng</th>
              <th class="text-center align-middle" scope="col">Nước Sản Xuất</th>
              <th class="text-center align-middle" scope="col">Năm Sản Xuất</th>
              <th class="text-center align-middle" scope="col">Ngày chiếu</th>              
              <th class="text-center align-middle" scope="col">Hành động</th>
            </tr>
          </thead>
          <tbody>
            {{#each listDaChieu}}
            <tr>
              <th class="text-center align-middle" scope="row">{{sum 1 @index }}</th>
              <td class="p-2 text-center align-middle" style="width: 100px;">{{this.tenPhim}}</td>
              <td class=" align-middle p-2 text-center" style="width: 100px; height: 140px; overflow: hidden;"><img src="data:image/png;base64,{{this.anh}}"  style="width: 100%; height: 100%; object-fit: cover;" class="img-thumbnail" alt=""></td>
              <td class="p-2 text-center align-middle" style="width: 100px;">{{this.tenTheLoai}}</td>
              <td class="p-2 text-center align-middle">{{this.thoiLuong}}</td>
              <td class="p-2 text-center align-middle">{{this.nuocSX}}</td>
              <td class="p-2 text-center align-middle">{{this.namSX}}</td>
              <td class="p-2 text-center align-middle">{{formatDate this.ngayChieu}}</td>              
              <td class="p-2 text-center align-middle">
                <a href="/quanlyphim/phimdachieu/{{this.idPhim}}" type="button" style="margin-bottom: 10px; width: 90px;" class="btn btn-success">Chi tiết</a>
                {{!-- <a type="button" data-bs-toggle="modal" data-id-phim-dc="{{this.idPhim}}" data-bs-target="#delete-phim-dc-modal" data-target="#delete-phim-dc-modal" style="margin-bottom: 10px; width: 90px;" class="btn btn-danger">Reset</a> --}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="">
    {{#if notificationErr.length}}
        <div class="alert auto-close alert-warning alert-dismissible show fade mb-3" role="alert" style="position: fixed; top: 0; right: 0; width: 300px; z-index: 100;">
            {{#each notificationErr}}
                <strong>{{err}}</strong>
            {{/each}}
        </div>
    {{/if}}

    {{#if notificationSuccess.length}}
        <div class="alert auto-close alert-success alert-dismissible show fade mb-3" role="alert" style="position: fixed; top: 0; right: 0; width: 300px; z-index: 100;">
            {{#each notificationSuccess}}
                <strong style="text-align: center;">{{success}}</strong>
            {{/each}}
        </div>
    {{/if}}
</div>

{{!-- form delete phim --}}
<form name="form-del-phim" method="POST"></form>


<!--modal xác nhận xoá -->
<div class="modal fade" tabindex="-1" role="dialog" id="delete-phim-dc-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận xóa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>        
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa phim này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-phim-dc" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded",function(){
    var idPhim;
    var btnDelPhim=document.getElementById("btn-delete-phim-dc");
    var deleteForm=document.forms["form-del-phim"];

    $("#delete-phim-dc-modal").on("show.bs.modal",function(event){
      var button=$(event.relatedTarget);
      idPhim=button.data("id-phim-dc");
    
    })
    btnDelPhim.onclick=function(){
      deleteForm.action="/quanlyphim/phimdachieu/"+idPhim+"?_method=PUT"
      deleteForm.submit();
    }
  })


</script>
