  <script src="../../public/js/imagePreview.js" ></script>
  <ol class="breadcrumb" style="background-color: #fff; font-weight: bold !important; col; border-radius:0;-webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
    <li class="breadcrumb-item"><a href="#">Quản Lý Phim</a></li>
    <li class="breadcrumb-item"><a href="/quanlyphim/phim">Phim</a></li>
    <li class="breadcrumb-item active" aria-current="page">Cập nhật</li>
  </ol> 
<div class="container" style="min-height: 100vh;-webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
    <h6  style="padding: 10px 20px; font-weight: bold;">Cập nhật phim</h6>
    <hr>  
    {{#each listPhim}}
    <form action="/quanlyphim/phim/capnhat/{{this.idPhim}}?_method=PUT" method="POST" class="container-form-add mx-auto" style="max-width: 900px;"  enctype="multipart/form-data" >

        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label" for="tenPhim">Tên phim</label>
                    <input disabled  type="text" class="form-control" name="tenPhim" id="tenPhim" aria-describedby="helpId" value="{{this.tenPhim}}"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="idTheLoai">Thể loại</label>
                    <select id="idTheLoai" name="idTheLoai" disabled class="form-control">
                        <option value="{{this.idTheLoai}}">
                            {{this.tenTheLoai}}
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="ngonNgu">Ngôn ngữ</label>
                    <input class="form-control" name="ngonNgu" id="ngonNgu" aria-describedby="helpId" value="{{this.ngonNgu}}"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="hangSX">Hãng sản xuất</label>
                    <input class="form-control" name="hangSX" id="hangSX" aria-describedby="helpId" value="{{this.hangSX}}"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="nuocSX">Nước sản xuất</label>
                    <input class="form-control" name="nuocSX" id="nuocSX" aria-describedby="helpId" value="{{this.nuocSX}}"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="thoiLuong">Thời Lượng</label>
                    <input class="form-control" name="thoiLuong" id="thoiLuong" aria-describedby="helpId"value="{{this.thoiLuong}}" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="dienVien">Diễn viên</label>
                    <input class="form-control" name="dienVien" id="dienVien" aria-describedby="helpId" value="{{this.dienVien}}" />
                </div>                
                <div class="mb-3">
                    <label class="form-label" for="daoDien">Đạo diễn</label>
                    <input class="form-control" name="daoDien" id="daoDien" aria-describedby="helpId" value="{{this.daoDien}}" />
                </div>
            </div>

            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label" for="anh">Chọn ảnh</label>
                    <input type="file" id="anh" name="anh" class="form-control" value="{{anh}}">
                </div>

                <div class="mb-3">
                    <div id="output" class="rounded mx-auto d-block" style="width: 170px; height: 255px; overflow: hidden; background-color: aliceblue;">
                        <img id="img-preview" src="{{this.anh}}" style="width: 100%; height: 100%; object-fit: cover;" alt="Ảnh xem trước" />
                        <input type="text" name="originalUrl" value="{{anh}}" hidden id="originalUrl">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="moTa">Mô tả</label>
                    <textarea required class="form-control" name="moTa" id="moTa" rows="4"  >{{this.moTa}}</textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="namSX">Năm sản xuất</label>
                    <input class="form-control" disabled name="namSX" id="namSX" aria-describedby="helpYear" value="{{this.namSX}}"/>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button name="add" class="btn btn-primary" type="submit" style="padding: 10px; min-width: 400px; font-weight: bold; margin: 10px;">Cập nhật</button>
        </div>
    </form>
    {{/each}}
</div>
<div>
    {{> notifications}}    
</div>
{{!-- <script src="../../public/js/imagePreview.js"></script> --}}

<script>
    document.getElementById('anh').addEventListener('change', function () {
    var imgPreview = document.getElementById('img-preview');
    var input = this;

    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            imgPreview.src = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
    }
});
</script>