<ol class="breadcrumb" style="background-color: #fff; font-weight: bold !important; col; border-radius:0; ">
  <li class="breadcrumb-item active" aria-current="page">
    Tổng Quan
    <h6 style="display: block; color: black; margin-top: 10px;">Xin chào, {{ hoTenND}}</h6>
  </li>
</ol>
<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col">
          <div class="card border-0 mb-3" style=" padding: 10px; background-color: rgb(54, 162, 235); ">
            <div class="card-header card-header-no-border"
              style="border-bottom: none;background-color:rgb(54, 162, 235);">
              <h5 class="card-text card-title">{{tongLichChieu}}</h5>
            </div>
            <div class="card-body">
              <h6>Phim đang chiếu </h6>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0 mb-3" style=" padding: 10px; background-color: rgb(75, 192, 192); ">
            <div class="card-header card-header-no-border"
              style="border-bottom:none ;background-color: rgb(75, 192, 192);">
              <h5 class="card-text card-title">{{totalShowtime}}</h5>
            </div>
            <div class="card-body">
              <h6>Lịch chiếu phim hôm nay</h6>              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0 mb-3" style=" padding: 10px; background-color: rgb(255, 205, 86); ">
            <div class="card-header card-header-no-border"
              style="border-bottom: none;background-color: rgb(255, 205, 86);">
              <h5 class="card-text card-title">{{tongSanPham}}</h5>
            </div>
            <div class="card-body">
              <h6>Sản phẩm tồn kho</h6>              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0 mb-3" style=" padding: 10px; background-color:#fd7e14;">
            <div class="card-header card-header-no-border" style="border-bottom:none;background-color: #fd7e14;">
              <h5 class="card-text card-title">{{tongVe}}</h5>
            </div>
            <div class="card-body">
              <h6>Vé đã được bán</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{#eq vaiTro 'admin'}}
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <!-- Chart 1 -->
      <div class="row">
        <div class="col-sm-12">
          <div class="chart-container"
            style="height: 400px; background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05); padding: 10px;">
            <h6>Doanh Thu 12 tháng </h6>
            <canvas id="chartRevenueMonth"></canvas>
          </div>
        </div>
      </div>
      <!-- End of Chart 1 -->

      <!-- Chart 2, 3, 4, 5 -->
      <div class="row " style="margin-top: 5rem !important;">
        <div class="row">
          <div class="col mb-5">
            <div class="chart-container"
              style="height: 300px; width: 320px; background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05); padding: 10px;">
              <h6>Doanh thu 7 ngày qua</h6>
              <canvas id="chartRevenue7days"></canvas>
            </div>
          </div>

          <div class="col mb-5">
            <div class="chart-container"
              style="height: 300px; width: 320px; background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05); padding: 10px;">
              <h6>Vé bán 7 ngày qua</h6>
              <canvas id="chartTicket7days"></canvas>
            </div>
          </div>

          <div class="col mb-5" style="margin-bottom: 10px;">
            <div class="chart-container"
              style="height: 300px; width: 320px; background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05); padding: 10px;">
              <h6>Tổng vé tháng</h6>
              <canvas id="chartTicketMonth" style="padding-bottom: 10px;"></canvas>
            </div>
          </div>

          <div class="col mb-5" style="margin-bottom: 10px;">
            <div class="chart-container"
              style="height: 300px; width: 320px; background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05); padding: 10px;">
              <h6>Sản phẩm </h6>
              <canvas id="chartSanpham" style="padding-bottom: 10px;"></canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Chart 2, 3, 4, 5 -->
    </div>
  </div>
</div>

  {{/eq}}
  {{!-- <div>
    {{> notifications}}
  </div> --}}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    const ctxTicketWeek = document.getElementById('chartTicket7days');
    const dates = {{{ json dates }}};
    const totalVe = [{{{ totalVe }}}];

    new Chart(ctxTicketWeek, {
      type: 'bar',
      data: {
        labels: dates,
        datasets: [{
          label: 'Số lượng',
          data: totalVe,
          borderWidth: 1,
          backgroundColor: 'rgb(75, 192, 192)',
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

  <script>
    const ctxProduct = document.getElementById('chartSanpham');
    const nameProduct = {{{ json nameProduct }}};
    const quantityOfProduct = [{{ quantityOfProduct }}];

    new Chart(ctxProduct, {
      type: 'pie',
      data: {
        labels: nameProduct,
        datasets: [{
          label: "Số lượng",
          data: quantityOfProduct,
          borderWidth: 1,
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

  <script>
    const ctxRevenue7days = document.getElementById('chartRevenue7days');
    const labelMonthRevenue = {{{ json dates }}};
    const totalMoney = [{{{ totalMoney }}}];

    new Chart(ctxRevenue7days, {
      type: 'line',
      data: {
        labels: labelMonthRevenue,
        datasets: [{
          label: 'VND',
          data: totalMoney,
          borderWidth: 1,
          backgroundColor: 'rgb(75, 192, 192)',
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

  <script>
    const ctxRevenueMonth = document.getElementById('chartRevenueMonth');
    const labelMonthVe = ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'];
    const totalMoneyMonth = [{{{ totalMoneyMonth }}}];

    new Chart(ctxRevenueMonth, {
      type: 'line',
      data: {
        labels: labelMonthVe,
        datasets: [{
          label: 'VND',
          data: totalMoneyMonth,
          borderWidth: 1,
          backgroundColor: 'rgb(75, 192, 192)',
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          y: {
            beginAtZero: false
          }
        }
      }
    });
  </script>

  <script>
    const ctxTicketMonth = document.getElementById('chartTicketMonth');
    const months = ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'];
    const totalVeMonth = [{{{ totalVeMonth }}}];

    new Chart(ctxTicketMonth, {
      type: 'bar',
      data: {
        labels: months,
        datasets: [{
          label: 'Số lượng',
          data: totalVeMonth,
          backgroundColor: 'rgb(75, 192, 192)',
          borderColor: 'rgb(75, 192, 192)',
          borderWidth: 1,
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          y: {
            beginAtZero: false
          }
        }
      }
    });
  </script>