<div class="container" >
    <h1>Thông tin cá nhân</h1>
    <hr>
    <div class="row">
      <form class="form-horizontal" role="form" action="/managerAdmin/update/:{{idNhanVien}}" method="POST" enctype="multipart/form-data">
      {{#each Admin}}
            <div class="col-md-3">
              <div class="text-center">
                  <img src="{{anh}}" class="avatar img-circle" alt="avatar" style="border-radius: 50px; width: 100px; height: 100px;">
                  <h6>Tải lên một bức ảnh khác...</h6>
                  <input type="file" name="avatar" class="form-control" value="{{anh}}">
              </div>
            </div>
            <div class="col-md-9 personal-info">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Họ tên</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="hoTen" value="{{this.hoTen}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="email" value="{{email}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Số điện thoại</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="dienThoai" value="{{dienThoai}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Vai trò</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="vaiTro" value="{{vaiTro}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Ngày sinh</label>
                    <div class="col-md-8">
                        <input class="form-control" type="date" name="ngaySinh" value="{{ngaySinh}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Địa chỉ</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="diaChi" value="{{diaChi}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Giới tính</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="gioiTinh" value="{{gioiTinh}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <a  onclick="document.querySelector('form').submit();" type="button" style="margin-bottom: 10px; width: 90px;" class="btn btn-success">Cập nhật</a>
                        {{!-- href="javascript:void(0);" --}}
                        <span></span>
                        <button type="button" style="margin-bottom: 10px; width: 90px;" class="btn btn-danger">Hủy</button>
                    </div>
                </div>
            </div>
            
        {{/each}}
    </form>
    </div>
</div>
<hr>
<div>
  {{#if notificationSuccess}}
    <div class="alert auto-close alert-success alert-dismissible show fade mb-3" role="alert" style="position: fixed; top: 0; right: 0; width: 300px; z-index: 100;">
      <strong style="text-align: center;">{{notificationSuccess}}</strong>
    </div>
  {{/if}}
  {{#if notificationErr}}
    <div class="alert auto-close alert-warning alert-dismissible show fade mb-3" role="alert" style="position: fixed; top: 0; right: 0; width: 300px; z-index: 100;">
      <strong>{{notificationErr}}</strong>
    </div>
  {{/if}}
</div>
