<ol class="breadcrumb" style="background-color: #fff; font-weight: bold !important; col; border-radius:0;    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
    <li class="breadcrumb-item"><a href="/tongquan">Tổng quan</a></li>
    <li class="breadcrumb-item active" aria-current="page">Thay đổi thông tin</li>  
</ol> 
<div class="container"style="min-height: 100vh;" >
    <hr>
{{#each objNhanVien}}
<form class="form-horizontal" role="form" action="/myAccount/update/{{idNhanVien}}?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-6">
            <div class="mb-3">
                <label class="form-label" for="anh">Chọn ảnh</label>
                <input  type="file" class="form-control" name="anh" accept="image/*" id="anh" aria-label="Chọn ảnh" aria-describedby="helpImg" lang="vi"/>
            </div>

            <div class="mb-3">
                <div id="output" class="rounded mx-auto d-block" style="width: 242px; height: 242px; overflow: hidden; background-color: aliceblue;">
                    <img id="img-preview" src="{{this.anh}}" style="width: 100%; height: 100%; object-fit: cover;" alt="Ảnh xem trước" />
                    <input type="text" name="originalUrlAnh" value="{{this.anh}}" hidden>
                </div>
            </div>

            <div class="mb-3">
                <label class=" control-label form-label ">Họ tên<span id="hoTenError" style="color: red; font-style: italic; margin-left: 10px;"></span></label>
                <input class="form-control" required type="text" name="hoTen" id="hoTenInput" value="{{hoTen}}" oninput="validateHoTen()">
            </div>

            <div class="mb-3">
                <label class="col-md-3 control-label form-label">Ngày sinh</label>
                <input class="form-control" required readonly autocomplete="off" type="text" id="pickadatepicker" name="ngaySinh" value="{{parseDate ngaySinh}}"  >
            </div>                
        </div>
        <div class="col-sm-6">
            <div class="mb-3">
                <label class="control-label form-label">Mã nhân viên</label>
                <input class="form-control" disabled required type="text" name="" value="{{idNhanVien}}">
            </div>            

            <div class="mb-3">
                <label class="col-md-3 control-label form-label">Vai trò</label>
                <input class="form-control" required type="text" name="vaiTro" value="{{vaiTro}}" disabled>
            </div>

            <div class="mb-3">
                <label class="control-label form-label">Email<span id="emailError" style="color: red; font-style: italic; margin-left: 10px;"></span></label>
                <input class="form-control" required type="text" id="email" name="email" value="{{email}}" oninput="validateEmail()">
            </div>

            <div class="mb-3">
                <label class="control-label form-label">Số điện thoại    <span id="dienThoaiError" style="color: red; font-style: italic; margin-left: 10px;"></span></label>
                <input class="form-control" required type="text" id="dienThoai" name="dienThoai" value="{{dienThoai}}" oninput="validateDienThoai()">
            </div>


            <div class="mb-3">
                <label class="control-label form-label">Địa chỉ<span id="diaChiError" style="color: red; font-style: italic; margin-left: 10px;"></span></label>
                <input class="form-control" required type="text" id="diaChi" name="diaChi" value="{{diaChi}}" oninput="validateDiaChi()">
            </div>

            <div class="mb-3">
                <label class="form-label" for="gioiTinh">Giới tính</label>
                <select id="gioiTinh" name="gioiTinh" class="form-control">
                    <option value="Nam"{{#eq "Nam" this.gioiTinh}}selected{{/eq}}>Nam</option>
                    <option value="Nữ"{{#eq "Nữ" this.gioiTinh}}selected{{/eq}}>Nữ</option>                    
                </select>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-primary" id="btn-submit" type="submit" style="padding: 10px; min-width: 400px; font-weight: bold; margin: 10px;">Cập nhật</button>
    </div>
</form>
{{/each}}

</div>
<div>
    {{> notifications}}    
</div>

<script src="../../public/js/imagePreview.js"></script>

<script src="../../public/js/validateForm.js"></script>