    <ol class="breadcrumb" style="background-color: #fff; font-weight: bold !important; col; border-radius:0;    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
    <li class="breadcrumb-item active" aria-current="page">Danh sách sản phẩm</li>
  </ol> 
<div class="container" style="min-height: 100vh;">
    <div class="input-group d-flex justify-content-between" style="align-items: center;"> 
        <h6 style="padding: 0 20px; font-weight: bold;">Danh sách sản phẩm</h6>
        <a type="button" href="/sanpham/them" class="btn btn-primary" style="margin: 20px; border-radius: 5px; font-weight: bold;">Thêm sản phẩm</a>
    </div>          
    <hr>
            
  <table id="data-table" class="table table-bordered"style="width:100%">
    <thead class="thead-dark">
      <tr>
        <th class="p-2 text-center">#</th>
        <th class="p-2 text-center">Ảnh</th>
        <th class="p-2 text-center">Tên</th>
        <th class="p-2 text-center">Số lượng</th>
        <th class="p-2 text-center">Giá</th>
        <th class="p-2 text-center">Hành động</th>
      </tr>
    </thead>
    <tbody>
      {{#each listDoAn}}
      <tr class="">
        <td>{{sum 1 @index }}</td>
        <td class=" align-middle p-2 text-center" style="width: 75px; height: 75px; overflow: hidden;"><img src="{{this.anh}}"  style="width: 100%; height: 100%; object-fit: cover;" class="img-thumbnail rounded-circle me-2" alt=""></td>
         <td class="p-2 text-center align-items-center align-middle">{{this.tenDoAn}}</td>
         <td class="p-2 text-center align-items-center align-middle">{{this.coSan}}</td>
         <td class="p-2 text-center align-items-center align-middle">{{formatCurrency this.giaDoAn 'vnd'}}</td>
         <td class="p-2 text-center align-items-center align-middle">
          <a href="/sanpham/{{this.idDoAn}}" class="btn btn-success" style="margin-bottom: 10px; width: 90px;">Cập nhật</a>
          <button type="button" data-id-do-an="{{this.idDoAn}}" class="btn btn-danger" data-bs-toggle="modal"data-bs-target="#deleteModal" style="margin-bottom: 10px; width: 90px;">Xóa</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<div>
    {{> notifications}}    
</div>

{{!-- form xoá sản phẩm --}}

<form name="del-do-an-form" method="POST"></form>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa sản phẩm này này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" id="btn-del-do-an">Xóa</button>
      </div>
    </div>
  </div>
</div>

<script>
   document.addEventListener("DOMContentLoaded",function(){
      var idDoAn;
      var btnDelDoan=document.getElementById("btn-del-do-an");        
      var deleteForm= document.forms["del-do-an-form"];

      $('#deleteModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) 
          idDoAn = button.data('id-do-an') 
      })
      btnDelDoan.onclick=function(){
          deleteForm.action="/sanpham/xoa/"+idDoAn+"?_method=PUT"
          deleteForm.submit();
      }
  })</script>