<ol class="breadcrumb" style="background-color: #fff; font-weight: bold !important; border-radius: 0; -webkit-box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05); box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);">
    <li class="breadcrumb-item"><a href="/ve">Vé Đặt</a></li>
    <li class="breadcrumb-item active" aria-current="page">Chi tiết Vé Đặt</li>
</ol>

<div class="container" style="min-height: 100vh;background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
    <h6 style="padding: 10px 20px; font-weight: bold;">Chi tiết Vé Đặt</h6>
    <hr>
        {{#each objectVe}}
        <form action="/ve/chitiet/{{this.idVe}}?_method=PUT" method="post" id="form-update-ve">
            <div class="row">

            <div class="col-sm-6">
                <div class="mb-3">
                    <label for="" class="form-label">Poster</label>                    
                    <div id="output" class="rounded mx-auto d-block" style="width: 200px; height: 295px; overflow: hidden; background-color: aliceblue;">
                        <img id="img-preview" src="data:image/png;base64,{{this.anh}}" style="width: 100%; height: 100%; object-fit: cover;" alt="Ảnh xem trước" />
                    </div>
                </div>   

                 <div class="mb-3">
                    <label for="" class="form-label">Ngày mua vé</label>
                    <input class="form-control" disabled type="text" value="{{formatDate this.ngayMua}}">
                </div>  

                <div class="mb-3">
                    <label for="" class="form-label">Vị trí ghế</label>
                    <input class="form-control" disabled type="text" value="{{this.tenGhe}}">
                </div> 
                <div class="mb-3">
                    <label for="" class="form-label">Phương thức thanh toán</label>
                    <input class="form-control" disabled type="text" value="{{this.phuongThucTT}}">
                </div>  

                {{!-- <div class="mb-3">
                    <label for="" class="form-label">Nhân viên bán vé</label>
                    <input class="form-control" disabled type="text" value="{{#if this.idNhanVien}}{{this.idNhanVien}}{{else}}mua vé online{{/if}}">
                </div>                                                              --}}

            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label for="" class="form-label">Mã vé</label>
                    <input class="form-control" disabled type="text" value="{{this.idVe}}">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Tên Phim</label>
                    <input class="form-control" disabled type="text" value="{{this.tenPhim}}">
                </div> 
                <div class="mb-3">
                    <label for="" class="form-label">Ngày chiếu</label>
                    <input class="form-control" disabled type="text" value="{{formatDate this.ngayChieu}}">
                </div>              
                <div class="mb-3">
                    <label for="" class="form-label">Ca chiếu</label>
                    <input class="form-control" disabled type="text" value="{{this.tenPhongChieu}}: {{this.caChieu}}">
                </div> 
  
                <div class="mb-3">
                    <label for="" class="form-label">Trạng thái vé</label>
                    <select class="form-control" name="trangThai" id="" {{#eq 0 this.trangThai}}disabled{{/eq}} {{#eq 2 this.trangThai}}disabled{{/eq}} >
                        <option value="1" {{#eq 1 this.trangThai}}selected{{/eq}}>Chưa thanh toán</option>
                        <option value="0"{{#eq 0 this.trangThai}}selected{{/eq}}>Đã thanh toán</option>
                        <option value="2"{{#eq 2 this.trangThai}}selected{{/eq}}  {{#eq 1 this.trangThai}}disabled{{/eq}}>Vé hết hạn</option>
                    </select>
                </div>    

                <div class="mb-3">
                    <label for="" class="form-label">Hình thức</label>
                    <input class="form-control" disabled type="text" value="{{#if this.idNhanVien}}Mua vé tại quầy{{else}}Mua vé online{{/if}}">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Tổng thanh toán</label>
                    <input class="form-control" disabled type="text" value="{{formatCurrency this.tongTien 'vnd'}}">
                </div>                                                                                                  
            </div> 

   
        </div>
           
    </form> 
    <hr>
    <h6>Chi tiết sản phẩm</h6>    
    {{/each}}
    <table id="data-table" class="table table-bordered"style="width:100%">
        <thead class="thead-dark">
        <tr>
            <th class="p-2 text-center">#</th>
            <th class="p-2 text-center">Ảnh</th>
            <th class="p-2 text-center">Tên</th>
            <th class="p-2 text-center">Số lượng</th>
            <th class="p-2 text-center">Đơn giá</th>
            <th class="p-2 text-center">Tổng</th>
        </tr>
        </thead>
        <tbody>
        {{#each listDoAn}}
        <tr class="">
            <td>{{sum 1 @index }}</td>
            <td class=" align-middle p-2 text-center" style="width: 75px; height: 75px; overflow: hidden;"><img src="data:image/png;base64,{{this.anh}}"  style="width: 100%; height: 100%; object-fit: cover;" class="img-thumbnail rounded-circle me-2" alt=""></td>
            <td class="p-2 text-center align-items-center align-middle">{{this.tenDoAn}}</td>
            <td class="p-2 text-center align-items-center align-middle">{{this.soLuong}}</td>
            <td class="p-2 text-center align-items-center align-middle">{{formatCurrency this.giaDoAn 'vnd'}}</td>
            <td class="p-2 text-center align-items-center align-middle">{{multiply (parseInt this.soLuong) (parseFloat this.giaDoAn)}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table> 

    {{#each objectVe}}
    <div class="text-center">
        {{#eq this.trangThai 1}}
        <button class="btn btn-primary" id="btnSubmit" type="submit" style="padding: 10px; min-width: 400px; font-weight: bold; margin: 10px 0px 40px 0;">Cập nhật</button>
        {{/eq}}
    </div>
    {{/each}}
</div>

<script>
  var formSubmitVe = document.forms["form-update-ve"];
  var btnSubmit=document.getElementById("btnSubmit");

  btnSubmit.onclick = function(){
    formSubmitVe.submit()
  };



</script>