    <ol class="breadcrumb" style="background-color: #fff; font-weight: bold !important; col; border-radius:0;    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
    <li class="breadcrumb-item active" aria-current="page">Vé Đã Đặt</li>
  </ol> 
<div class="container" style="min-height: 500px;background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
  <div class="col-sm-12">
    <div class="row">
        <div class="input-group d-flex justify-content-between" style="align-items: center;">   
        <h6 style="padding: 0 20px; font-weight: bold;">Danh sách vé đã đặt</h6>

        <a type="button" href="/ve/them" class="btn btn-primary" style="margin: 20px; border-radius: 5px; font-weight: bold;">Thêm vé mới</a>
        </div>         
        <hr>
    
        <table id="data-table" class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th class="p-2 text-center align-middle" scope="col">#</th>
              <th class="p-2 text-center align-middle" scope="col">Mã vé</th>
              <th class="p-2 text-center align-middle" scope="col">Tên phim</th>
              <th class="p-2 text-center align-middle" scope="col">Ngày chiếu</th> 
              <th class="p-2 text-center align-middle" scope="col">Ca chiếu</th>
              <th class="p-2 text-center align-middle" scope="col">Phòng chiếu</th>
              <th class="p-2 text-center align-middle" scope="col">Số ghế</th>
              <th class="p-2 text-center align-middle" scope="col">Ngày đặt vé</th>
              <th class="p-2 text-center align-middle" scope="col">Tổng tiền</th>
              <th class="p-2 text-center align-middle" scope="col">Vị trí ghế</th>
              <th class="p-2 text-center align-middle" scope="col">Hành động</th>
            </tr>
          </thead>
          <tbody>
            {{#each listVe}}
            <tr>
              <td class="align-middle" scope="row">{{sum 1 @index }}</td>
              <td class="align-middle" scope="col">{{this.idVe}}</td>
              <td class="align-middle" scope="col">{{this.tenPhim}}</td>
              <td class="align-middle" scope="col">{{formatDate this.ngayChieu}}</td> 
              <td class="align-middle" scope="col">{{this.caChieu}}</td>
              <td class="align-middle" scope="col">{{this.tenPhongChieu}}</td>
              <td class="align-middle" scope="col">{{this.soVe}}</td>
              <td class="align-middle" scope="col">{{formatDate this.ngayMua}}</td>
              <td class="align-middle" scope="col">{{formatCurrency this.tongTien 'vnd'}}</td>
              <td class="align-middle" scope="col">{{this.tenGhe}}</td>          
              <td class="p-2 text-center align-middle">
                <a href="/ve/chitiet/{{this.idVe}}" type="button" style="margin-bottom: 10px; width: 90px;" class="btn btn-success">Chi tiết</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{#if notificationErr.length}}
    <div class="alert auto-close alert-warning alert-dismissible show fade mb-3" role="alert" style="position: fixed; top: 0; right: 0; width: 300px; z-index: 100;">
        <strong>{{notificationErr}}</strong>
    </div>
{{/if}}
{{#if notificationSuccess.length}}
    <div class="alert auto-close alert-success alert-dismissible show fade mb-3" role="alert" style="position: fixed; top: 0; right: 0; width: 300px; z-index: 100;">
        <strong style="text-align: center;">{{notificationSuccess}}</strong>
    </div>
{{/if}}</div>

<!--modal xác nhận xoá -->
<div class="modal fade" tabindex="-1" role="dialog" id="delete-ve-dat">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận xóa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>        
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa vé này</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-product" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
