<ol class="breadcrumb" style="font-weight: bold !important; col; border-radius:0; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05); box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
    <li class="breadcrumb-item active" aria-current="page">Thống kê</li>
</ol>

<div class="container" style="min-height: 500px;">
  <div class="col-sm-12">
    <div class="row d-flex justify-content-center">
          <div class="col-sm-12">
              <div class="col-sm-12">
                  <div class="chart-container" style="background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05); padding: 10px;">
                      <h6>Doanh Thu 12 tháng </h6>
                      <canvas id="chartRevenueMonth"></canvas>
                  </div>
              </div>              
              <div class="row">
                  <div class="col-sm-6">
                      <div class="chart-container" style=" background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05); padding: 10px;">
                          <h6>Doanh thu  7 ngày qua</h6>
                          <canvas id="chartRevenue7days"></canvas>
                      </div>
                  </div>  
                  
                <div class="col-sm-6">
                      <div class="chart-container" style=" background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05); padding: 10px;">
                          <h6>Vé bán 7 ngày qua</h6>
                          <canvas id="chartTicket7days"></canvas>
                      </div>
                  </div>                                  
                <div class="col-sm-6" style="margin-bottom: 10px;">                  
                      <div class="chart-container" style="height: 450px; background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05); padding: 10px;">
                          <h6>Tổng vé tháng</h6>
                          <canvas  id="chartTicketMonth" style="padding-bottom: 10px;"></canvas>
                      </div>
                </div>   
                  
                  <div class="col-sm-6" style="margin-bottom: 10px;">
                      <div class="chart-container" style="height: 450px; background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05); padding: 10px;">
                          <h6>Sản phẩm </h6>
                          <canvas  id="chartSanpham" style="padding-bottom: 10px;"></canvas>
                      </div>
                  </div>                        
              </div>
                         
          </div>
      </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>   


<script>
  const ctxTicketWeek = document.getElementById('chartTicket7days');
  const dates={{{json dates}}};
  const totalVe=[{{{totalVe}}}];

  new Chart(ctxTicketWeek, {
    type: 'bar',
    data: {
      labels: dates,
      datasets: [{
        label: 'Số lượng',
        data: totalVe,
        borderWidth: 1,
        backgroundColor :'rgb(75, 192, 192)',       
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1      
      }]
    },
    options: {   
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<script>
  const ctxProduct = document.getElementById('chartSanpham');
  const nameProduct={{{json nameProduct}}};
  const quantityOfProduct=[{{quantityOfProduct}}];

  new Chart(ctxProduct, {
    type: 'pie',
    data: {
      labels: nameProduct,
      datasets: [{
        label: "Số lượng",
        data: quantityOfProduct,
        borderWidth: 1,
      }]
    },
    options: {  
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<script>
  const ctxRevenue7days = document.getElementById('chartRevenue7days');
  const labelMonthRevenue={{{json dates}}};
  const totalMoney=[{{{totalMoney}}}];

  new Chart(ctxRevenue7days, {
    type: 'line',
    data: {
      labels: labelMonthRevenue,
      datasets: [{
        label: 'VND',
        data: totalMoney,
        borderWidth: 1,
        backgroundColor :'rgb(75, 192, 192)',       
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1      
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<script>
  const ctxRevenueMonth = document.getElementById('chartRevenueMonth');
  const labelMonthVe=['Tháng 1','Tháng 2','Tháng 3','Tháng 4','Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8' ,'Tháng 9', 'Tháng 10','Tháng 11', 'Tháng 12'];
  const totalMoneyMonth=[{{{totalMoneyMonth}}}];

  new Chart(ctxRevenueMonth, {
    type: 'line',
    data: {
      labels: labelMonthVe,
      datasets: [{
        label: 'VND',
        data: totalMoneyMonth,
        borderWidth: 1,
        backgroundColor :'rgb(75, 192, 192)',       
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1      
      }]
    },
    options: {     
      scales: {
        y: {
          beginAtZero: false
        }
      }
    }
  });
</script>

<script>
  const ctxTicketMonth = document.getElementById('chartTicketMonth');
  const months=['Tháng 1','Tháng 2','Tháng 3','Tháng 4','Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8' ,'Tháng 9', 'Tháng 10','Tháng 11', 'Tháng 12'];
  const totalVeMonth=[{{{totalVeMonth}}}];

  new Chart(ctxTicketMonth, {
    type: 'bar',
    data: {
      labels: months,
      datasets: [{
        label: 'Số lượng',
        data: totalVeMonth,
        backgroundColor :'rgb(75, 192, 192)',       
        borderColor: 'rgb(75, 192, 192)',        
        borderWidth: 1,
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,          
      scales: {    
        y: {
          beginAtZero: false
        }
      }
    }
  });
</script>