<div class="container">
  <h2 class="text-center">Nhân Viên</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Ảnh đại diện</th>
        <th>Họ tên</th>
        <th>Mật khẩu</th>
        <th>Email</th>
        <th>Số điện thoại</th>
        <th>Địa chỉ</th>
        <th>Giới tính</th>
        <th>Ngày sinh</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      {{!-- phần này #each đóng vai trò như biến để sử dụng mấy ô chịu khó search handlebars vô trang chủ của nó kéo xuống phần Built-in Helpers mà đọc chi tiết nha} --}}
      {{#each listNhanVien}}

      <tr class="">
        <td>{{sum 1 @index }}</td>
        <td><img src="/resources/upload/{{this.anh}}" style="width: 50px; height: 50px; border-radius: 50px;" alt="Mô tả hình ảnh" title="Thông tin bổ sung về hình ảnh"></td>
        <td>{{this.hoTen}}</td>
        <td>{{this.matKhau}}</td>
        <td>{{this.email}}</td>
        <td>{{this.dienThoai}}</td>
        <td>{{this.diaChi}}</td>
        <td>{{this.gioiTinh}}</td>
        <td>{{formatDate this.ngaySinh "dd/MM/yyyy"}}</td>
        <td>
          <a href="/nhanvien/sua/{{this.idNhanVien}}" class="btn btn-primary btn-sm" style="border-radius: 50px;">Sửa</a>
          <a href="" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-nhan-vien" style="border-radius: 50px;" data-id-nhan-vien="{{this.idNhanVien}}" data-id="{{this.idNhanVien}}">Xóa</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <h4 class="text-center" style="margin-top: 50px;"><a href="/nhanvien/them" class="btn btn-info">Thêm nhân viên</a></h4>
</div>

<form name="del-nhanvien-form" method="POST"></form>

<!-- Modal -->
 <div class="modal fade" id="delete-nhan-vien" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa nhân viên này?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-del-nhanvien" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div> 

<script>
   document.addEventListener("DOMContentLoaded",function(){
      var idNhanVien;
      var btnDelLC=document.getElementById("btn-del-nhanvien");        
      var deleteForm= document.forms["del-nhanvien-form"];

      $('#delete-nhan-vien').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) 
          idNhanVien = button.data('id-nhan-vien') 
      })
      btnDelLC.onclick=function(){
          deleteForm.action="/nhanvien/luutru/"+idNhanVien+"?_method=PUT"
          deleteForm.submit();
      }
  })
</script>

<div>
  {{#if notificationSuccess}}
    <div class="alert auto-close alert-success alert-dismissible show fade mb-3" role="alert" style="position: fixed; top: 0; right: 0; width: 300px; z-index: 100;">
      <strong style="text-align: center;">{{notificationSuccess}}</strong>
    </div>
  {{/if}}
  {{#if notificationErr}}
    <div class="alert auto-close alert-warning alert-dismissible show fade mb-3" role="alert" style="position: fixed; top: 0; right: 0; width: 300px; z-index: 100;">
      <strong>{{notificationErr}}</strong>
    </div>
  {{/if}}
</div>