<ol class="breadcrumb" style="background-color: #fff; font-weight: bold !important; col; border-radius:0;    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
  <li class="breadcrumb-item active" aria-current="page">Quản lý nhân viên</li>
</ol> 
<div class="container" style="min-height: 100vh; margin: background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
  <div class="col-sm-12">
    <div class="row">
        <div class="input-group" style="display: flex; justify-content: space-between; margin: 20px;">
        <h6 style="padding: 0 20px; font-weight: bold;">Danh sách nhân viên</h6>
        <a type="button" href="/nhanvien/them" class="btn btn-primary" style="margin-right: 40px; border-radius: 5px; font-weight: bold;">Thêm nhân viên mới</a>
        </div>        
        <hr>
      <div class="col-12">
        <div class="container">
        <table id="data-table" class="table table-bordered"style="width:100%">
          <thead class="thead-dark">
            <tr>
              <th class="p-2 text-center align-middlen align-items-center">#</th>
              <th class="p-2 text-center align-middlen align-items-center" style="width: 75px">Ảnh</th>
              <th class="p-2 text-center align-middlen align-items-center">Họ tên</th>
              <th class="p-2 text-center align-middlen align-items-center">Mật khẩu</th>
              <th class="p-2 text-center align-middlen align-items-center">Email</th>
              <th class="p-2 text-center align-middlen align-items-center">Số điện thoại</th>
              <th class="p-2 text-center align-middlen align-items-center">Địa chỉ</th>
              <th class="p-2 text-center align-middlen align-items-center">Giới tính</th>
              <th class="p-2 text-center align-middlen align-items-center">Ngày sinh</th>
              <th class="p-2 text-center align-middlen align-items-center">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            {{#each listNhanVien}}
            <tr class="">
              <td class="p-2 align-middle align-middle">{{sum 1 @index }}</td>
              <td class=" align-middle p-2 text-center align-middle" style="width: 75px; height: 75px; overflow: hidden;"><img src="data:image/png;base64,{{this.anh}}"  style="width: 100%; height: 100%; object-fit: cover;" class="img-thumbnail rounded-circle me-2" alt=""></td>
              <td class="p-2 align-middle align-middle">{{this.hoTen}}</td>
              <td class="p-2 align-middle align-middle">{{this.matKhau}}</td>
              <td class="p-2 align-middle align-middle">{{this.email}}</td>
              <td class="p-2 align-middle align-middle">{{this.dienThoai}}</td>
              <td class="p-2 align-middle align-middle">{{this.diaChi}}</td>
              <td class="p-2 align-middle align-middle">{{this.gioiTinh}}</td>
              <td class="p-2 align-middle align-middle">{{formatDate this.ngaySinh "dd/MM/yyyy"}}</td>
              <td class="p-2 text-center align-items-center align-middle">
                <a href="/nhanvien/sua/{{this.idNhanVien}}" class="btn btn-success" style="margin-bottom: 10px; width: 90px;">Sửa</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-nhan-vien" style="margin-bottom: 10px; width: 90px;" data-id-nhan-vien="{{this.idNhanVien}}">Xóa</button>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

<form name="del-nhanvien-form" method="POST"></form>

<!-- Modal -->
 <div class="modal fade" id="delete-nhan-vien" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa nhân viên này?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-del-nhanvien" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div> 

<div>
  {{#if notificationSuccess}}
    <div class="alert auto-close alert-success alert-dismissible show fade mb-3" role="alert" style="position: fixed; top: 0; right: 0; width: 300px; z-index: 100;">
      <strong style="text-align: center;">{{notificationSuccess}}</strong>
    </div>
  {{/if}}
  {{#if notificationErr}}
    <div class="alert auto-close alert-warning alert-dismissible show fade mb-3" role="alert" style="position: fixed; top: 0; right: 0; width: 300px; z-index: 100;">
      <strong>{{notificationErr}}</strong>
    </div>
  {{/if}}
</div>



<script>
   document.addEventListener("DOMContentLoaded",function(){
      var idNhanVien;
      var btnDelLC=document.getElementById("btn-del-nhanvien");        
      var deleteForm= document.forms["del-nhanvien-form"];

      $('#delete-nhan-vien').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) 
          idNhanVien = button.data('id-nhan-vien') 
      })
      btnDelLC.onclick=function(){
          deleteForm.action="/nhanvien/luutru/"+idNhanVien+"?_method=PUT"
          deleteForm.submit();
      }
  })
</script>
