<ol class="breadcrumb" style="background-color: #fff; font-weight: bold !important; border: 0; -webkit-box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05); box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);">
  <li class="breadcrumb-item"><a href="/nhanvien">Danh sách nhân viên</a></li>
  <li class="breadcrumb-item active" aria-current="page">Cập nhật nhân viên</li>
</ol>

<div class="container d-flex">
  <div class="col-md-9">
    {{#each listNhanVien}}
    <form action="/nhanvien/sua/luu/{{idNhanVien}}?_method=PUT" method="POST" id="nhanVienForm" enctype="multipart/form-data">
      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="anh" class="col-4 col-form-label">Chọn ảnh</label>
            <div class="">
              <input type="file" id="anh" name="anh" class="form-control" value="{{anh}}">
            </div>
          </div>

          <div class="mb-3">
            <div id="img-preview" class="rounded mx-auto d-block" style="width: 255px; height: 260px; overflow: hidden; background-color: aliceblue;">
              <img id="img-preview-img" src="data:image/png;base64,{{this.anh}}" style="width: 100%; height: 100%; object-fit: cover;" alt="Ảnh xem trước" />
            </div>
          </div>

          <div class="mb-3">
            <label for="idNhanVien" class="col-4 col-form-label">Mã nhân viên</label>
            <div class="">
              <input  id="idNhanVien" name="idNhanVien" disabled value="{{this.idNhanVien}}" placeholder="Mã nhân viên" class="form-control" type="text">
            </div>
          </div>

          <div class="mb-3">
            <label for="matKhau" class="col-4 col-form-label">Mật khẩu</label>
            <div class="">
              <input id="matKhau" name="matKhau" value="{{this.matKhau}}" placeholder="Mật khẩu" class="form-control" type="text">
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="mb-3">
            <label for="hoTen" class="col-4 col-form-label">Họ tên</label>
            <div class="">
              <input id="hoTen" name="hoTen" placeholder="Họ tên" value="{{this.hoTen}}" class="form-control" type="text">
            </div>
          </div>

          <div class="mb-3">
            <label for="email" class="col-4 col-form-label">Email</label>
            <div class="">
              <input id="email" name="email" placeholder="Email" value="{{this.email}}" class="form-control" required="required" type="text">
            </div>
          </div>

          <div class="mb-3">
            <label for="dienThoai" class="col-4 col-form-label">Số điện thoại</label>
            <div class="">
              <input id="dienThoai" name="dienThoai" value="{{this.dienThoai}}" placeholder="Số điện thoại" class="form-control" type="text">
            </div>
          </div>

          <div class="mb-3">
            <label for="diaChi" class="col-4 col-form-label">Địa chỉ</label>
            <div class="">
              <input id="diaChi" name="diaChi" placeholder="Địa chỉ"value="{{this.diaChi}}"  class="form-control" type="text">
            </div>
          </div>

            <div class="mb-3">
                <label class="form-label" for="gioiTinh">Giới tính</label>
                <select id="gioiTinh" name="gioiTinh" class="form-control">
                    <option value="Nam"{{#eq "Nam" this.gioiTinh}}selected{{/eq}}>Nam</option>
                    <option value="Nữ"{{#eq "Nữ" this.gioiTinh}}selected{{/eq}}>Nữ</option>                    
                </select>
            </div>

          <div class="mb-3">
            <label for="ngaySinh" class="col-4 col-form-label">Ngày sinh</label>
            <div class="">
              <input id="ngaySinh" name="ngaySinh"  value="{{parseDate ngaySinh}}" placeholder="" class="form-control" type="date">
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="text-center">
          <button  class="btn btn-primary" type="submit" style="padding: 10px; min-width: 400px; font-weight: bold; margin: 10px;">Cập nhật</button>
        </div>
      </div>
    </form>

    {{/each}}
  </div>
</div>

  {{#if notificationErr.length}}
      <div class="alert auto-close alert-warning alert-dismissible show fade mb-3" role="alert" style="position: fixed; top: 0; right: 0; width: 300px; z-index: 100;">
          <strong>{{notificationErr}}</strong>
      </div>
  {{/if}}
  {{#if notificationSuccess.length}}
      <div class="alert auto-close alert-success alert-dismissible show fade mb-3" role="alert" style="position: fixed; top: 0; right: 0; width: 300px; z-index: 100;">
          <strong style="text-align: center;">{{notificationSuccess}}</strong>
      </div>
  {{/if}}
</div>

<script>
  // Lắng nghe sự kiện thay đổi của input file
  document.getElementById('anh').addEventListener('change', function() {
    // Lấy thẻ img xem trước và input file
    var imgPreview = document.getElementById('img-preview-img');
    var input = this;

    if (input.files && input.files[0]) {
      // Đọc tệp hình ảnh được chọn
      var reader = new FileReader();
      reader.onload = function(e) {
        // Thiết lập src của thẻ img bằng dữ liệu ảnh đã đọc
        imgPreview.src = e.target.result;
      };
      reader.readAsDataURL(input.files[0]);
    }
  });
</script>